

    .welcomeText {
      font-size: 17px;
      text-align: center;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #5fc6c8;
      margin: 40px auto;
      line-height: 1.6;
      max-width: 600px;
      font-style: italic;
      padding: 20px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    }

    .send-button {

      background-color: rgb(25, 135, 84);
      color: white;
      padding: 12px 20px;
      margin-left: 10px;
      border: none;
      border-radius: 10px;
      font-size: 15px;
      cursor: pointer;
    }

    .chat-input {
      padding: 12px 15px;
      border-radius: 10px;
      border-width: 1px;
      font-size: 15px;
      flex-grow: 1;
    }

    .chat-input-container {
      display: flex;
      margin-bottom: 20px;
    }

    .app-container {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .chat-message-user {
      display: flex;
      justify-content: end;
      align-items: start;
    }

    .chat-message-robot {
      display: flex;
      align-items: start;
    }

    .chat-message-text {
      margin-right: 10px;
      padding: 15px 20px;
      background-color: rgb(238, 238, 238);
      margin-left: 10px;
      margin-bottom: 20px;
      max-width: 300px;
      ;
    }

    .chat-message-profile {
      width: 45px;
    }

    .chat-msg-container {
      flex-grow: 1;
      margin-top: 20px;
      overflow: scroll;
      scrollbar-width: none;
    }